[keyfile]
unmanaged-devices+=
{%- for nm_unmanaged_interface_name in nm_unmanaged_interface_names -%}
  interface-name:{{ nm_unmanaged_interface_name }}
  {%- if not loop.last %},{% endif -%}
{%- endfor %}
