lxc.include = /usr/share/lxc/config/archlinux.common.conf

# archlinux.common.conf drops setfcap capability [1], while it is necessary
# for PrivateUsers=true feature in systemd.
#
# Under the hood, systemd creates a mapping to uid=0 in the parent namespace
# by writing to /proc/[pid]/uid_map, and that requires CAP_SETFCAP since kernel
# 5.12 [2] or 5.10.35 ("capabilities: require CAP_SETFCAP to map uid 0") [3].
#
# [1] https://github.com/lxc/lxc-templates/blob/master/config/archlinux.common.conf.in
# [2] https://man.archlinux.org/man/user_namespaces.7
# [3] https://cdn.kernel.org/pub/linux/kernel/v5.x/ChangeLog-5.10.35
lxc.cap.drop =
# Add back items from archlinux.common.conf and common.conf, except setfcap
lxc.cap.drop = mac_admin mac_override sys_time sys_module sys_nice sys_pacct sys_rawio

lxc.arch = x86_64
lxc.start.auto = 1

# Container specific configuration

{% if container_memory_limit is defined %}
lxc.cgroup.memory.limit_in_bytes = {{ container_memory_limit }}
{% endif %}

{% for lxc_mount_entry in lxc_mount_entries %}
lxc.mount.entry = {{ lxc_mount_entry }}
{% endfor %}

lxc.rootfs.path = dir:/var/lib/lxc/{{ container_name }}/rootfs
lxc.uts.name = {{ container_name }}
# systemd seems unhappy with AppArmor + LXC
# https://github.com/systemd/systemd/issues/10166
lxc.apparmor.profile = unconfined

# Share the same network namespace as the host
lxc.net.0.type = none
