{% include 'common.conf.j2' %}

[Peer]
PublicKey = {{ wireguard_keys[wireguard_config.server_hostname].public_key }}
{% for ip in wireguard_config.peers[wireguard_hostname].ips %}
AllowedIPs = {{ ip|ansible.utils.ipaddr('network/prefix') }}
{% endfor %}
{% for forwarded_subnet in wireguard_config.forwarded_subnets %}
{%   if forwarded_subnet.router_hostname != wireguard_hostname %}
# {{ forwarded_subnet.comment }} through {{ forwarded_subnet.router_hostname }}
{%     for subnet in [forwarded_subnet.subnets, forwarded_subnet.excluded_subnets] | yan12125.general.routes_exclude %}
AllowedIPs = {{ subnet }}
{%     endfor %}
{%   endif %}
{% endfor %}
Endpoint = {{ wireguard_config.server_fqdn | ansible.utils.ipwrap }}:{{ wireguard_config.server_port }}
PersistentKeepalive = {{ wireguard_config.keepalive|default(10) }}
