[Interface]
{% for ip in wireguard_config.peers[wireguard_hostname].ips %}
Address = {{ ip }}
{% endfor %}
PrivateKey = {{ wireguard_keys[wireguard_hostname].private_key }}
{% if wireguard_config.dns is defined %}
DNS = {{ wireguard_config.dns }}
{% endif %}
{% if "mtu" in wireguard_config.peers[wireguard_hostname] %}
MTU = {{ wireguard_config.peers[wireguard_hostname].mtu }}
{% endif %}
