{% include 'common.conf.j2' %}

ListenPort = {{ wireguard_config.server_port }}

{% for peer_hostname, peer_config in wireguard_config.peers.items() if peer_hostname != wireguard_hostname %}
# {{ peer_hostname }}
[Peer]
PublicKey = {{ wireguard_keys[peer_hostname].public_key }}
{%   for peer_ip in peer_config.ips %}
AllowedIPs = {{ peer_ip.split('/')[0] }}/{{ 128 if ':' in peer_ip else 32 }}
{%   endfor %}
{%   for forwarded_subnet in wireguard_config.forwarded_subnets %}
{%     if forwarded_subnet.router_hostname == peer_hostname %}
# {{ forwarded_subnet.comment }}
AllowedIPs = {{ forwarded_subnet.subnet }}
{%     endif %}
{%   endfor %}
{% endfor %}
